# NOTE: The below 2 variables should not need to be changed if you cloned
#   the dotfiles repo to '~/dotfiles'
#  Local home directory
dotfiles_user_home: "{{ '~' | expanduser }}"
# Where your dotfiles live. Probably don't need to change this.
dotfiles_home: "{{dotfiles_user_home}}/dotfiles"

# Python tasks need the PYENV_ROOT environment variable set with this value
pyenv_root: "~/.pyenv"

# Root directory for projects
project_root: "~/Code"

backup_dir: "~/OneDrive/Backup/{{ ansible_hostname }}"

# Name used in commit messages
full_name: Augusto W. Andreoli
# Git
# Github username
git_user: andreoliwa
# If you use github, this should be the same as the email
#  used on Github
git_email: andreoliwa@gmail.com

# GPG Key ID used to sign git commits
# See https://github.com/pstadler/keybase-gpg-github setup instructions
git_signing_key: 6F84DBFC

# Vim

# Whether to install plugins automatically. If not, just run
# :PlugInstall while in vim.
vim_install_plugins: no

# Utilities that don't get installed by a role
mac_homebrew_packages:
  common:
    - bash
    - bash-completion2 # https://github.com/scop/bash-completion
    - curl
    - jq
    - wget
    - terminal-notifier
    - htop-osx
    - httpie
    - diff-so-fancy
    - gpg
    - wdiff # https://www.gnu.org/software/wdiff/
    - colordiff # https://www.colordiff.org/
    - pidof # http://www.nightproductions.net/cli.htm
    # Top for docker containers
    - ctop
    # User-contributed docs for Unix commands
    - tldr
    # For repeating commands
    - watch
    - fd # https://github.com/sharkdp/fd
    - terraform # https://www.terraform.io
    - postgres # https://www.postgresql.org/ Needed by pgcli and other packages
    - mosh # https://mosh.org/
    - nmap
    - ipcalc
    # TODO: this needs "brew cask install osxfuse" before:
    # - ntfs-3g # Read-write NTFS driver for FUSE https://www.tuxera.com/community/open-source-ntfs-3g/
    - github/gh/gh # GitHub CLI https://github.com/cli/cli
    - go # https://golang.org
  remove:
    - heroku/brew/heroku
    - highlight
    - rename
    # what's the wifi password?
    - wifi-password
    # Share tmux sessions
    - tmate
    # README rendering
    - grip
    # Prose linting
    - ValeLint/vale/vale
    - macvim
  personal_laptop:
  company_laptop:
    - graphviz # https://www.graphviz.org/
    - pgbadger
    - mysql-connector-c
    - composer # https://getcomposer.org/
    - kettle # Pentaho Data Integration software https://community.hitachivantara.com/docs/DOC-1009931-downloads
    - s3cmd # https://s3tools.org/s3cmd

# Mac Apps to be installed with homebrew-cask
mac_cask_packages:
  common:
    # Browsers
    - brave-browser # https://brave.com/
    - brave-browser-dev # https://brave.com/download-dev/
    - finicky # https://github.com/johnste/finicky
    # Development
    - visual-studio-code
    # Network
    - teamviewer
    - private-internet-access
    - zerotier-one # https://www.zerotier.com/download.shtml
    # Utilities
    - toggl
    - iterm2
    - keepingyouawake # maintained caffeinate wrapper
    - appcleaner
    - spectacle
    - the-unarchiver
    - authy # https://authy.com/
    - dupeguru # https://dupeguru.voltaicideas.net/
    - meld # https://yousseb.github.io/meld/
    - ccleaner # https://www.ccleaner.com/ccleaner-mac
    - grandperspective # https://grandperspectiv.sourceforge.io/
    - rescuetime # https://www.rescuetime.com/
    - osxfuse # https://osxfuse.github.io/ Read "The Best Free Third-Party Drivers: FUSE for macOS" on https://www.howtogeek.com/236055/how-to-write-to-ntfs-drives-on-a-mac/
    # E-mail
    - mia-for-gmail
    # Vagrant/Virtualbox
    - vagrant
    - virtualbox
    # Docker
    - docker
    # Chat
    - telegram
    - whatsapp
    - skype
    - signal
    # Video conferencing
    - zoomus
    # Backup/storage
    - dropbox
    - onedrive # https://onedrive.live.com/
    # Media/Music
    - spotify
    - spotify-notifications # https://spotify-notifications.citruspi.io/
    - vlc
    - beardedspice
    - android-file-transfer # https://www.android.com/filetransfer/
    # Fonts
    - font-ubuntu
    - font-cousine
    - font-hack
    - font-jetbrains-mono # https://www.jetbrains.com/lp/mono/
  remove:
    # Images
    - imageoptim # optimizing images
    - deckset
    - epic
    - freeplane
    - licecap
    - notion
    - pdfsam-basic
    - shift # https://tryshift.com/ Freemium: only one free app besides email
    - franz # https://meetfranz.com/ Deceiving freemium: trial for 14 days only, not mentioned when you download the app
    - itau # https://www.itau.com.br/computador/
    - intellij-idea-ce # IntelliJ IDEA Community Edition https://www.jetbrains.com/idea/
    - powershell # https://github.com/PowerShell/PowerShell
    - pycharm # https://www.jetbrains.com/pycharm/ License expired
    - vivaldi # https://vivaldi.com/
  personal_laptop:
    - hp-easy-start # https://support.hp.com/
  company_laptop:
    - ngrok
    - dashlane # https://www.dashlane.com/
    - gmail-notifier
    - zulip
    # REST client
    - insomnia

# APT packages that don't get installed by a role
apt_packages:
  - xfce4
  - python3-pip
  - curl
  - dos2unix
  - wget
  - gnupg2
  - htop
  - lsof
  - strace
  - gnupg-agent
  - shotwell

# Mac-App-Store-only apps to be installed with mas
# Use App IDs found with `mas search <name>`
mac_mas_packages:
  common:
    - 585829637 # Todoist https://itunes.apple.com/us/app/id585829637
    - 409203825 # Numbers https://itunes.apple.com/us/app/id409203825
    - 1153157709 # Speedtest by Ookla https://itunes.apple.com/us/app/id1153157709
    - 973134470 # Be Focused - Focus Timer https://itunes.apple.com/us/app/id973134470
    - 497799835 # Xcode https://apps.apple.com/de/app/xcode/id497799835, needed to compile Python, mysql-connector-c, etc.
  remove:
  personal_laptop:
  company_laptop:

ruby_global_gems:
  - lunchy
  - travis
  - jekyll # https://jekyllrb.com/

# Python versions to install with pyenv and set as global
# Especially useful when using tox
# NOTE: 2.7 gets installed by Homebrew
pyenv_global_versions:
  - 3.6.5
  - 3.5.5
  - 2.7.15

# Install Python 3 modules globally with pipx
python3_modules:
  - aws-shell # https://github.com/awslabs/aws-shell
  - awscli # https://pypi.org/project/awscli/
  - black # https://github.com/ambv/black
  - bumpversion # https://pypi.org/project/bumpversion/
  - cookiecutter # https://pypi.org/project/cookiecutter/
  - cookiepatcher # https://pypi.org/project/cookiepatcher/
  - gitup # https://github.com/earwig/git-repo-updater.git
  - howdoi # https://pypi.org/project/howdoi/
  - identify # https://github.com/chriskuehl/identify
  - keyring # https://pypi.org/project/keyring/
  - organize-tool # https://pypi.org/project/organize-tool/
  - pre-commit # https://pre-commit.com/
  - subliminal # https://pypi.org/project/subliminal/
  - twine # https://pypi.org/project/twine/
  - youtube-dl # https://pypi.org/project/youtube_dl/
  - pgcli # https://github.com/dbcli/pgcli

# Node utilities
npm_global_packages:
  - webpack
  - eslint
  - eslint-config-airbnb
  - eslint-plugin-react
  - babel-eslint
  - np

  # Conventional commits and semantic release
  - conventional-changelog-cli # https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-changelog-cli
  - "@commitlint/cli" # https://github.com/conventional-changelog/commitlint/tree/master/@commitlint/cli
  - "@commitlint/config-conventional"
  - commitizen # https://github.com/commitizen/cz-cli
  - semantic-release-cli # https://github.com/semantic-release/cli

  # Sentry
  - "@sentry/cli" # https://github.com/getsentry/sentry-cli

  # MarkDown linter
  - remark-cli # https://github.com/remarkjs/remark/tree/master/packages/remark-cli
  - remark-preset-lint-recommended # https://github.com/remarkjs/remark-lint#cli
  - remark-preset-lint-markdown-style-guide # https://github.com/remarkjs/remark-lint/tree/master/packages/remark-preset-lint-markdown-style-guide

rust_binaries:
  # https://github.com/nabijaczleweli/cargo-update
  - { pkg: cargo-update, bin: cargo-install-update }
  # https://github.com/ogham/exa
  - { pkg: exa, bin: exa }
  # https://github.com/BurntSushi/ripgrep
  - { pkg: ripgrep, bin: rg }

# To list extensions: code --list-extensions
vscode_extensions:
  common:
    - Gruntfuggly.todo-tree
    - bibhasdn.unique-lines
    - esbenp.prettier-vscode
    - mikestead.dotenv
    - ms-python.python
    - vscoss.vscode-ansible
    - zhouronghui.propertylist
    - bungcip.better-toml
    - jsynowiec.vscode-insertdatestring
    - ms-azuretools.vscode-docker
  remove:
  personal_laptop:
  company_laptop:
    - felixfbecker.php-intellisense
    - bmewburn.vscode-intelephense-client
    - crisward.riot-tag
    - mauve.terraform
