- name: "Save role path variable to be used on 'include_role' below"
  set_fact:
    personal_role_path: "{{ role_path }}"

- import_tasks: projects.yml

- import_tasks: vault_personal.yml
  # when: not ansible_env.COMPANY_LAPTOP
