- name: "personal: Copy .mrconfig"
  ansible.builtin.copy:
    src: "{{ role_path }}/files/vault.mrconfig"
    dest: ~/.mrconfig
    mode: "0600"

- name: "personal: Checkout repos"
  ansible.builtin.command: "mr checkout"
  args:
    chdir: ~/
  register: mr_checkout
  ignore_errors: true
- debug: var=mr_checkout.stdout

- name: "Install nitpick"
  ansible.builtin.command: "pipx install -e ."
  args:
    chdir: "{{ project_root }}/nitpick"

- name: "Install daily-grind"
  ansible.builtin.command: "pipx install -e ."
  args:
    chdir: "{{ project_root }}/daily-grind"

- name: "Install featsio/fts-telegram"
  ansible.builtin.command: "pipx install -e ."
  args:
    chdir: "{{ project_root }}/featsio/fts-telegram"

- name: "Install logseq-doctor"
  ansible.builtin.command: "make install"
  args:
    chdir: "{{ project_root }}/logseq-doctor"
