- name: "wolt: Create root directory to clone projects"
  file:
    state: directory
    path: ~/wolt

- name: "wolt: Copy .mrconfig"
  ansible.builtin.copy:
    src: "{{ role_path }}/files/vault-wolt.mrconfig"
    dest: ~/wolt/.mrconfig
    mode: "0600"
    backup: yes

- name: "wolt: Checkout repos"
  ansible.builtin.command: "mr checkout"
  args:
    chdir: ~/wolt
  register: mr_checkout
- debug: var=mr_checkout.stdout
