version: "2.1"

networks:
  net10:
    name: postgres10
    external: true
  mayan:
    name: mayan

volumes:
  broker:
    driver: local
  app:
    driver: local
  results:
    driver: local

services:
  broker:
    container_name: mayan-broker
    image: healthcheck/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: mayan
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
      RABBITMQ_DEFAULT_VHOST: mayan
    networks:
      - mayan
    volumes:
      - broker:/var/lib/rabbitmq
  results:
    container_name: mayan-results
    image: healthcheck/redis
    networks:
      - mayan
    volumes:
      - results:/data
  mayan:
    container_name: mayan-app
    image: mayanedms/mayanedms:latest
    depends_on:
      broker:
        condition: service_healthy
      results:
        condition: service_healthy
    networks:
      - net10
      - mayan
    environment:
      MAYAN_BROKER_URL: amqp://mayan:mayan@broker:5672/mayan
      MAYAN_CELERY_RESULT_BACKEND: redis://results:6379/0
      MAYAN_DATABASE_ENGINE: django.db.backends.postgresql
      MAYAN_DATABASE_HOST: postgres10
      MAYAN_DATABASE_NAME: mayan
      MAYAN_DATABASE_USER: mayan
      MAYAN_DATABASE_PASSWORD: ${MAYAN_DATABASE_PASSWORD}
      MAYAN_APT_INSTALLS: "tesseract-ocr-deu tesseract-ocr-por tesseract-ocr-ita"
      MAYAN_DOCUMENTS_LANGUAGE: deu
    ports:
      - "8001:8000"
    volumes:
      - app:/var/lib/mayan
      - ~/Dropbox/Apps/mayan/staging:/srv/staging
      - ~/Dropbox/Apps/mayan/watch:/srv/watch
