# http://duplicity.nongnu.org/vers8/duplicity.1.html

# Exclude files first
- **/node_modules/
- **/.DS_Store

# Bash
- **/.bash_sessions/
$HOME/.bash_*
$HOME/*history*

# SSH / GPG / Configs
$HOME/.ssh/
- $HOME/.gnupg/random_seed
$HOME/.gnupg/
$HOME/.config/
$HOME/.aws/
$HOME/.cookiecutterrc

# Python
$HOME/*.py
$HOME/Code/**/.*env*
$HOME/Code/**/.python-version
$HOME/Code/**/.idea/
$HOME/Library/Application Support/JetBrains/PyCharm*/scratches/
$HOME/Library/Application Support/JetBrains/PyCharm*/consoles/

# Strapi
- $HOME/container-apps/strapi/app/.cache/
- $HOME/container-apps/strapi/app/build/
$HOME/container-apps/strapi/app/
