- name: Set up local development environment
  hosts: local
  roles:
    # Tag each role so that we can select individual roles to run with ansible-playbook --tags
    - { role: ansible, tags: ["ansible"] }
    - { role: bash, tags: ["bash"] }
    - { role: security, tags: ["security", "ssh", "gpg"] }
    - { role: git, tags: ["git"] }
    - { role: package_manager, tags: ["package_manager", "bootstrap"] }
    - { role: macos, tags: ["macos"], when: ansible_os_family == "Darwin" }

    # Tools
    - { role: gnome_do, tags: ["gnome_do", "alfred"] }
    - { role: browser, tags: ["browser"] }
    - { role: fzf, tags: ["fzf"] }
    - { role: vim, tags: ["vim"] }
    - { role: bat, tags: ["bat"] }
    - { role: tmux, tags: ["tmux"] }
    - { role: hammerspoon, tags: ["hammerspoon"] }
    - { role: todoist, tags: ["todoist"] }

    # Languages
    - { role: asdf, tags: ["asdf"] }
    - { role: python_pyenv, tags: ["python"] }
    - { role: docker, tags: ["docker"] }
    - {
        role: gantsign.visual-studio-code,
        tags: ["vscode"],
        when: ansible_os_family != "Darwin",
      }
    - { role: vscode, tags: ["vscode"] }
    - { role: rust, tags: ["rust"] }
    - { role: node, tags: ["node"] }
    - { role: ruby, tags: ["ruby"] }

    # Personal and last
    - { role: organize, tags: ["organize"] }
    - { role: personal, tags: ["personal"] }
    - { role: backup, tags: ["backup"] }
