- name: "Install apt packages for the Raspberry Pi"
  apt: name="{{ rpi_apt_packages }}" state=latest
  become: true
  when: "'rpi_apt_packages' | run_only_after"

- name: Clone container-apps-private
  git:
    repo: git@github.com:andreoliwa/container-apps-private.git
    dest: ~/container-apps-private
    clone: yes
    update: yes
