- name: "VSCode: Install common"
  command: "code --install-extension {{ item }}"
  with_items: "{{ vscode_extensions['common'] }}"
  when: vscode_extensions['common']
  register: this_task
  changed_when: "'is already installed' not in this_task.stdout"

- name: "VSCode: Remove"
  command: "code --uninstall-extension {{ item }}"
  with_items: "{{ vscode_extensions['remove'] }}"
  when: vscode_extensions['remove']

- name: "VSCode: Install on personal_laptop"
  command: "code --install-extension {{ item }}"
  with_items: "{{ vscode_extensions['personal_laptop'] }}"
  when: ansible_hostname == personal_laptop and vscode_extensions['personal_laptop']

- name: "VSCode: Remove on personal_laptop"
  command: "code --uninstall-extension {{ item }}"
  with_items: "{{ vscode_extensions['company_laptop'] }}"
  when: ansible_hostname == personal_laptop and vscode_extensions['company_laptop']

- name: "VSCode: Install on company_laptop"
  command: "code --install-extension {{ item }}"
  with_items: "{{ vscode_extensions['company_laptop'] }}"
  when: ansible_hostname == company_laptop and vscode_extensions['company_laptop']

- name: "VSCode: Remove on company_laptop"
  command: "code --uninstall-extension {{ item }}"
  with_items: "{{ vscode_extensions['personal_laptop'] }}"
  when: ansible_hostname == company_laptop and vscode_extensions['personal_laptop']
