- name: "pipx: Install dependencies"
  apt:
    state: present
    name:
      - python3-venv
  become: true

# https://pipxproject.github.io/pipx/installation/
- name: "pipx: Install with pip"
  command: "python3 -m pip install --user pipx"

- name: "pipx: Ensure path"
  command: "python3 -m pipx ensurepath"
  register: this_task
  changed_when: "'is already in PATH' not in this_task.stdout"
