- name: "Cask: Install common"
  homebrew_cask:
    name: "{{ item }}"
    state: present
  with_items: "{{ mac_cask_packages['common'] }}"
  ignore_errors: yes

- name: "Cask: Remove"
  homebrew_cask:
    name: "{{ item }}"
    state: absent
  with_items: "{{ mac_cask_packages['remove'] }}"

- name: "Cask: Install on personal_laptop"
  homebrew_cask:
    name: "{{ item }}"
    state: present
  with_items: "{{ mac_cask_packages['personal_laptop'] }}"
  when: not ansible_env.COMPANY_LAPTOP and mac_cask_packages['personal_laptop']

- name: "Cask: Remove on personal_laptop"
  homebrew_cask:
    name: "{{ item }}"
    state: absent
  with_items: "{{ mac_cask_packages['company_laptop'] }}"
  when: not ansible_env.COMPANY_LAPTOP and mac_cask_packages['company_laptop']

- name: "Cask: Install on company_laptop"
  homebrew_cask:
    name: "{{ item }}"
    state: present
  with_items: "{{ mac_cask_packages['company_laptop'] }}"
  when: ansible_env.COMPANY_LAPTOP and mac_cask_packages['company_laptop']

- name: "Cask: Remove on company_laptop"
  homebrew_cask:
    name: "{{ item }}"
    state: absent
  with_items: "{{ mac_cask_packages['personal_laptop'] }}"
  when: ansible_env.COMPANY_LAPTOP and mac_cask_packages['personal_laptop']

- name: "Cask: Upgrade all"
  homebrew_cask:
    upgrade_all: yes
  ignore_errors: yes
