- name: Set system defaults
  script: set-defaults.sh
  changed_when: false

- name: Homebrew
  import_tasks: brew.yml

- name: Homebrew Cask
  import_tasks: cask.yml

- name: Mac App Store
  import_tasks: mac_app_store.yml

- name: Brew cleanup
  command: brew cleanup
