# https://organize.readthedocs.io/en/latest/page/config.html#configuration
move_folders: &move
  - path: ~/OneDrive/Documents/Mayan_Staging/Deutsch
    ignore_errors: true
  - path: ~/OneDrive/Documents/Mayan_Staging/Portugues
    ignore_errors: true

slugify_folders: &slugify
  - ~/Documents
  - ~/Downloads/
  - ~/Desktop/
  - ~/Library/Mobile Documents/com~apple~QuickTimePlayerX/Documents
  - ~/OneDrive/

mobile_upload_folders: &mobile_upload
  - path: ~/OneDrive/Pictures/Camera Roll/
    ignore_errors: true
  - path: ~/OneDrive/Pictures/Download/
    ignore_errors: true
  - path: ~/OneDrive/Pictures/Facebook/
    ignore_errors: true
  - path: ~/OneDrive/Pictures/Screenshots/
    ignore_errors: true
  - path: ~/OneDrive/Pictures/Telegram/
    ignore_errors: true
  - path: ~/OneDrive/Pictures/Telegram Images/
    ignore_errors: true
  - path: ~/OneDrive/Pictures/Telegram Video/
    ignore_errors: true
  - path: ~/OneDrive/Pictures/WhatsApp Animated Gifs/
    ignore_errors: true
  - path: ~/OneDrive/Pictures/WhatsApp Documents/
    ignore_errors: true
  - path: ~/OneDrive/Pictures/WhatsApp Images/
    ignore_errors: true
  - path: ~/OneDrive/Pictures/WhatsApp Video/
    ignore_errors: true
  - path: ~/OneDrive/Pictures/Samsung Gallery/
    ignore_errors: true

rules:
  # - name: "Delete .DS_Store"
  #   locations:
  #     # "system_files" moved to "system_exclude_files" in version 2.0: https://github.com/tfeldmann/organize/issues/166
  #     # can't use aliases when using system_exclude_files; "path" should accept str | List[str] https://github.com/tfeldmann/organize/issues/179
  #     # - path: *slugify
  #     #   system_exclude_files: []
  #     - path: ~/Documents
  #       system_exclude_files: []
  #     - path: ~/Downloads/
  #       system_exclude_files: []
  #     - path: ~/Desktop/
  #       system_exclude_files: []
  #     - path: ~/Library/Mobile Documents/com~apple~QuickTimePlayerX/Documents
  #       system_exclude_files: []
  #     - path: ~/OneDrive/
  #       system_exclude_files: []
  #   # fd/find is still way faster, but it was dismissed: https://github.com/tfeldmann/organize/issues/84
  #   subfolders: true
  #   filters:
  #     - name: .DS_Store
  #   actions:
  #     - trash

  - name: Receipts
    locations: *move
    filters:
      - filecontent: "(?P<store>REWE|Kaufland|Lidl|Aldi|EDEKA|Rossmann|Penny|Budni|LPG Biomarkt|Nanu-Nana|Tiger Deutschland)"
    actions:
      - move: "~/OneDrive/Documents/Mayan_Staging/Companies/{filecontent.store}/Receipt/"

  - name: Invoices
    locations: *move
    filters:
      - filecontent: "(Rechnung)"
    actions:
      - move: "~/OneDrive/Documents/Mayan_Staging/Deutsch/Type_Invoice/"

  - name: Investimentos 1
    locations: *move
    filters:
      - name:
          contains:
            - extrato
            - tesouro
            - btg
            - pactual
            - vsc11
            - ird11
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Documents/Mayan_Staging/Cabinets/Investimentos/"

  - name: Investimentos 2
    locations: *move
    filters:
      - name:
          startswith:
            - clear
            - monetus
            - rico
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Documents/Mayan_Staging/Cabinets/Investimentos/"

  - name: Sparkasse
    locations: *move
    filters:
      - name:
          contains:
            - Umsatz
            - Ums_Mt
            - Camt52
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Geld/Sparkasse/"

  - name: Miami Gardens
    locations: *move
    filters:
      - name:
          contains:
            - riema
            - miami gardens
            - miami_gardens
            - live_tim
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Geld/Contas_Alisson/"

  - name: Juridica
    locations: *move
    filters:
      - name:
          startswith:
            - gps_
            - progresso_
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Geld/Juridica/"

  - name: WhatsApp
    locations:
      - *mobile_upload
      - *move
    subfolders: true
    filters:
      - name:
          contains:
            # WhatsApp
            - -WA
            - _wa_
            - whats_app
            - whatsapp
          case_sensitive: false
      - lastmodified:
          years: 1
          mode: newer
    actions:
      - move: "~/OneDrive/New_Chat/{lastmodified.strftime('%Y/%m')}/"

  - name: Telegram, Facebook
    locations:
      - *mobile_upload
    subfolders: true
    filters:
      - name:
          startswith:
            # Telegram
            - "1_"
            - "2_"
            - "3_"
            - "4_"
            - "5_"
            - "22"
            - "23"
            - "42"
            - "70"
            - "71"
            - "80"
            - "81"
            # Facebook Messenger
            - Received
            # Facebook
            - fb_img_
          case_sensitive: false
      - lastmodified:
          years: 1
          mode: newer
    actions:
      - move: "~/OneDrive/New_Chat/{lastmodified.strftime('%Y/%m')}/"

  - name: Screenshots
    locations:
      - *mobile_upload
    subfolders: true
    filters:
      - name:
          startswith:
            - Screenshot_
            - Temp_File_For_Share
          case_sensitive: false
      - lastmodified:
          years: 1
          mode: newer
    actions:
      - move: "~/OneDrive/New_Screenshots/{lastmodified.strftime('%Y/%m')}/"

  - name: Camera
    locations:
      - *mobile_upload
    subfolders: true
    filters:
      - name:
          startswith:
            - P_
            - "20"
          case_sensitive: false
      - lastmodified:
          years: 1
          mode: newer
    actions:
      - move: "~/OneDrive/Pictures/Camera_New/{lastmodified.strftime('%Y/%m')}/"

  - name: "Classify/organize pictures in year/month subdirectories"
    locations:
      - path: ~/OneDrive/Pictures/Classify/
        ignore_errors: true
      - path: ~/OneDrive/Pictures/Organize/
        ignore_errors: true
    subfolders: true
    filters:
      - lastmodified:
          years: 1
          mode: newer
    actions:
      - move: "~/OneDrive/Pictures/New_Split/{lastmodified.strftime('%Y/%m')}/"
