# https://organize.readthedocs.io/en/latest/page/config.html#configuration
download_folders: &download
  - ~/Downloads/
  - ~/Documents/Shared_Downloads/
  - ~/OneDrive/Documents/Mayan_Staging/Deutsch
  - ~/OneDrive/Documents/Mayan_Staging/Portugues

slugify_folders: &slugify
  - ~/Documents
  - ~/Downloads/
  - ~/Desktop/
  - ~/OneDrive/
  - ~/Library/Mobile Documents/com~apple~QuickTimePlayerX/Documents

mobile_upload_folders: &mobile_upload
  - ~/OneDrive/Pictures/Camera Roll/
  - ~/OneDrive/Pictures/Camera_Roll/
  - ~/OneDrive/Pictures/Download/
  - ~/OneDrive/Pictures/Facebook/
  - ~/OneDrive/Pictures/Screenshots/
  - ~/OneDrive/Pictures/Telegram/
  - ~/OneDrive/Pictures/WhatsApp Animated Gifs/
  - ~/OneDrive/Pictures/Whats_App_Animated_Gifs/
  - ~/OneDrive/Pictures/WhatsApp Images/
  - ~/OneDrive/Pictures/Whats_App_Images/
  - ~/OneDrive/Pictures/WhatsApp Video/
  - ~/OneDrive/Pictures/Whats_App_Video/
  - ~/OneDrive/Pictures/Samsung_Gallery/

rules:
  # Hack to call rename-slugify only once.
  # As of March 2020, the organize tool only finds *files* under directories...
  # it doesn't find directories, so I can't rename them
  - folders:
      - ~/
    filters:
      - filename:
          startswith: .bashrc
    actions:
      - shell: "fd -uu -0 -tf -i .DS_Store ~/Downloads ~/Desktop ~/OneDrive ~/Documents | xargs -0 rm -v"
      - shell: "fd -uu -0 -tf -i .nomedia ~/Downloads ~/Desktop ~/OneDrive ~/Documents | xargs -0 rm -v"
      - shell: "find -f ~/Downloads -f ~/Desktop -f ~/Documents ~/OneDrive -mindepth 1 -type d -empty -print -delete"
      # Use this to debug:
      # cd ~/Code/python-clib && poetry run
      - shell: "rename-slugify -x ~/OneDrive/Musicas_LuisAndreoli -x ~/OneDrive/Movies/ -x ~/OneDrive/Documents/Nati_Wa/FinancÌ§as -x ~/Documents/Notebook/ -x ~/OneDrive/Books/ -x ~/OneDrive/Backup/ -x ~/OneDrive/Apps/ -x ~/OneDrive/Code/ -x ~/OneDrive/Icon? --yes ~/Documents ~/Downloads/ ~/Desktop/ ~/OneDrive/ ~/Library/Mobile\\ Documents/com~apple~QuickTimePlayerX/Documents"
  # TODO: This filter below doesn't work, nothing is found. Open a bug on organize?
  # - folders: *slugify
  #   subfolders: true
  #   filters:
  #     - filename:
  #         startswith: .DS_Store
  #   actions:
  #     - trash
  # Receipts
  - folders: *download
    filters:
      - filecontent: "(?P<store>REWE|Kaufland|Lidl|Aldi|EDEKA|Rossmann|Penny|Budni|LPG Biomarkt|Nanu-Nana|Tiger Deutschland)"
    actions:
      - move: "~/OneDrive/Documents/Mayan_Staging/Companies/{filecontent.store}/Receipt/"
  # Invoices
  - folders: *download
    filters:
      - filecontent: "(Rechnung)"
    actions:
      - move: "~/OneDrive/Documents/Mayan_Staging/Deutsch/Type_Invoice/"
  - folders: *download
    filters:
      - filename:
          contains:
            - extrato
            - tesouro
            - btg
            - pactual
            - vsc11
            - ird11
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Documents/Mayan_Staging/Cabinets/Investimentos/"
  - folders: *download
    filters:
      - filename:
          startswith:
            - clear
            - monetus
            - rico
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Documents/Mayan_Staging/Cabinets/Investimentos/"
  - folders: *download
    filters:
      - filename:
          contains:
            - Umsatz
            - Ums_Mt
            - Camt52
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Geld/Sparkasse/"
  - folders: *download
    filters:
      - filename:
          contains:
            - riema
            - miami gardens
            - miami_gardens
            - live_tim
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Geld/Contas_Alisson/"
  - folders: *download
    filters:
      - filename:
          startswith:
            - gps_
            - progresso_
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Geld/Juridica/"
  - folders:
      - *mobile_upload
      - *download
    subfolders: true
    filters:
      - filename:
          contains:
            # WhatsApp
            - _wa_
            - whats_app
            - whatsapp
          case_sensitive: false
      - LastModified
    actions:
      - move: "~/OneDrive/New_Chat/{lastmodified.year:04}/{lastmodified.month:02}/"
  - folders:
      - *mobile_upload
    subfolders: true
    filters:
      - filename:
          startswith:
            # Telegram
            - "1_"
            - "2_"
            - "3_"
            - "4_"
            - "5_"
            - "22"
            - "23"
            - "42"
            - "70"
            - "71"
            - "80"
            - "81"
            # Facebook Messenger
            - Received
            # Facebook
            - fb_img_
          case_sensitive: false
      - LastModified
    actions:
      - move: "~/OneDrive/New_Chat/{lastmodified.year:04}/{lastmodified.month:02}/"
  - folders:
      - *mobile_upload
    subfolders: true
    filters:
      - filename:
          startswith:
            - Screenshot_
            - Temp_File_For_Share
          case_sensitive: false
      - LastModified
    actions:
      - move: "~/OneDrive/New_Screenshots/{lastmodified.year:04}/{lastmodified.month:02}/"
  - folders:
      - *mobile_upload
    subfolders: true
    filters:
      - filename:
          startswith:
            - P_
            - 20
          case_sensitive: false
      - LastModified
    actions:
      - move: "~/OneDrive/Pictures/Camera_New/{lastmodified.year:04}/{lastmodified.month:02}/"
  - folders:
      - ~/OneDrive/Pictures/Classify/
      - ~/OneDrive/Pictures/Organize/
    subfolders: true
    filters:
      - LastModified
    actions:
      - move: "~/OneDrive/Pictures/New_Split/{lastmodified.year:04}/{lastmodified.month:02}/"
      # {lastmodified.year:04}-{lastmodified.month:02}-{lastmodified.day:02}/
  # https://organize.readthedocs.io/en/latest/page/actions.html#id9
