# https://organize.readthedocs.io/en/latest/page/config.html#configuration
download_folders: &download
  - ~/Downloads/
  - ~/OneDrive/Documents/Mayan_Staging/Shared_Downloads/
  - ~/OneDrive/Documents/Mayan_Staging/Deutsch
  - ~/OneDrive/Documents/Mayan_Staging/Portugues

slugify_folders: &slugify
  - ~/Documents
  - ~/Downloads/
  - ~/Desktop/
  - ~/OneDrive/
  - ~/Library/Mobile Documents/com~apple~QuickTimePlayerX/Documents

rules:
  # Hack to call rename-slugify only once.
  # As of March 2020, the organize tool only finds *files* under directories...
  # it doesn't find directories, so I can't rename them
  - folders:
      - ~/OneDrive
    filters:
      - filename:
          startswith: .keep
    actions:
      - shell: "fd -uu -0 -tf -i .DS_Store ~/Downloads ~/Desktop ~/OneDrive | xargs -0 rm -v"
      - shell: "fd -uu -0 -tf -i .nomedia ~/Downloads ~/Desktop ~/OneDrive | xargs -0 rm -v"
      - shell: "fd -uu -0 -te -td --min-depth 1 . ~/Downloads ~/Desktop ~/OneDrive | xargs -0 rm -rv"
      # Use this to debug:
      # cd ~/Code/python-clib && poetry run
      - shell: "rename-slugify -x ~/Documents/Notebook/cv/ -x ~/Documents/Notebook/diary/ -x ~/Documents/Notebook/vscode_notebook/ -x ~/Documents/Notebook/manager.py -x ~/OneDrive/Backup/ -x ~/OneDrive/Apps/ -x ~/OneDrive/Code/ -x ~/Documents/ScanSnapHome.localized -x ~/OneDrive/Icon? --yes ~/Documents ~/Downloads/ ~/Desktop/ ~/OneDrive/ ~/Library/Mobile\\ Documents/com~apple~QuickTimePlayerX/Documents"
  # TODO: This filter below doesn't work, nothing is found. Open a bug on organize?
  # - folders: *slugify
  #   subfolders: true
  #   filters:
  #     - filename:
  #         startswith: .DS_Store
  #   actions:
  #     - trash
  # Receipts
  - folders: *download
    filters:
      - filecontent: "(?P<store>REWE|Kaufland|Lidl|Aldi|EDEKA|Rossmann|Penny|Budni|LPG Biomarkt|Nanu-Nana|Tiger Deutschland)"
    actions:
      - move: "~/OneDrive/Documents/Mayan_Staging/Companies/{filecontent.store}/Receipt/"
  # Invoices
  - folders: *download
    filters:
      - filecontent: "(Rechnung)"
    actions:
      - move: "~/OneDrive/Documents/Mayan_Staging/Deutsch/Invoice/"
  - folders: *download
    filters:
      - filename:
          contains:
            - extrato
            - tesouro
            - btg
            - pactual
            - vsc11
            - ird11
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Documents/Mayan_Staging/Cabinets/Investimentos/"
  - folders: *download
    filters:
      - filename:
          startswith:
            - clear
            - monetus
            - rico
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Documents/Mayan_Staging/Cabinets/Investimentos/"
  - folders: *download
    filters:
      - filename:
          contains:
            - Umsatz
            - Ums_Mt
            - Camt52
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Geld/Sparkasse/"
  - folders: *download
    filters:
      - filename:
          contains:
            - riema
            - miami gardens
            - miami_gardens
            - live_tim
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Geld/Contas_Alisson/"
  - folders: *download
    filters:
      - filename:
          startswith:
            - gps_
            - progresso_
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Geld/Juridica/"
  - folders:
      - ~/OneDrive/Pictures/Camera_Roll/
      - *download
    subfolders: true
    filters:
      - filename:
          contains:
            # WhatsApp
            - _wa_
            - whats_app
            - whatsapp
          case_sensitive: false
      - LastModified
    actions:
      - move: "~/OneDrive/Pictures/Chat/{lastmodified.year}/{lastmodified.month}/"
  - folders:
      - ~/OneDrive/Pictures/Camera_Roll/
    subfolders: true
    filters:
      - filename:
          startswith:
            # Telegram
            - "1_"
            - "2_"
            - "3_"
            - "4_"
            - "5_"
            - "22"
            - "23"
            - "42"
            - "70"
            - "71"
            - "80"
            - "81"
            # Facebook Messenger
            - Received
          case_sensitive: false
      - LastModified
    actions:
      - move: "~/OneDrive/Pictures/Chat/{lastmodified.year}/{lastmodified.month}/"
  - folders:
      - ~/OneDrive/Pictures/Camera_Roll/
    subfolders: true
    filters:
      - filename:
          startswith:
            - Screenshot_
            - Temp_File_For_Share
          case_sensitive: false
      - LastModified
    actions:
      - move: "~/OneDrive/Pictures/Screenshots/{lastmodified.year}/{lastmodified.month}/"
  - folders:
      - ~/OneDrive/Pictures/Camera_Roll/
    subfolders: true
    filters:
      - filename:
          startswith:
            - P_
            - 20
          case_sensitive: false
      - LastModified
    actions:
      - move: "~/OneDrive/Pictures/New/{lastmodified.year}/{lastmodified.month}/"
  - folders:
      - ~/OneDrive/Pictures/Classify/
    subfolders: true
    filters:
      - LastModified
    actions:
      - move: "~/OneDrive/Pictures/New/{lastmodified.year}/{lastmodified.month}/"
