# https://organize.readthedocs.io/en/latest/page/config.html#configuration
download_folders: &download
  - ~/OneDrive/Shared_Downloads/
  - ~/Downloads/

rules:
  # Hack to call rename-slugify only once.
  # As of March 2020, the organize tool only finds *files* under directories...
  # it doesn't find directories, so I can't rename them
  - folders:
      - ~/OneDrive
    filters:
      - filename:
          startswith: Icon
    actions:
      - shell: "find ~/Downloads ~/Desktop ~/OneDrive -type f -name .DS_Store -print -delete"
      - shell: "find ~/Downloads ~/Desktop ~/OneDrive -type d -mindepth 1 -empty -print -delete"
      - shell: "cd ~/Code/python-clib && poetry run rename-slugify --yes -x ~/OneDrive/Documents/Notebook/cv/ -x ~/OneDrive/Documents/Notebook/diary/ -x ~/OneDrive/Documents/Notebook/vscode_notebook/ -x ~/OneDrive/Documents/Notebook/manager.py -x ~/OneDrive/Backup/ -x ~/OneDrive/Apps/Mayan/lib ~/Downloads/ ~/Desktop/ ~/OneDrive/"
  # Receipts
  - folders: ~/OneDrive/Apps/Mayan/staging/Deutsch
    filters:
      - filecontent: "(?P<store>REWE|Kaufland|Lidl|Aldi|EDEKA|Rossmann)"
    actions:
      - move: "~/OneDrive/Apps/Mayan/staging/Deutsch/Receipt/{filecontent.store}/"
  # Invoices
  - folders: ~/OneDrive/Apps/Mayan/staging/Deutsch
    filters:
      - filecontent: "(Rechnung)"
    actions:
      - move: "~/OneDrive/Apps/Mayan/staging/Deutsch/Invoice/"
  - folders: *download
    filters:
      - filename:
          contains:
            - extrato
            - tesouro
            - btg
            - pactual
            - vsc11
            - ird11
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Apps/Mayan/staging/Investimentos/"
  - folders: *download
    filters:
      - filename:
          startswith:
            - clear
            - monetus
            - rico
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Apps/Mayan/staging/Investimentos/"
  - folders: *download
    filters:
      - filename:
          contains:
            - Umsatz
            - Ums_Mt
            - Camt52
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Geld/Sparkasse/"
  - folders: *download
    filters:
      - filename:
          startswith:
            - Whats_App
            - WhatsApp
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Pictures/New/"
  - folders: *download
    filters:
      - filename:
          contains:
            - riema
            - miami gardens
            - miami_gardens
            - live_tim
          case_sensitive: false
    actions:
      - move: "~/OneDrive/Geld/Contas_Alisson/"
