- name: "Get installed versions of Python"
  pyenv:
    subcommand: versions
    bare: yes
  register: pyenv_versions

- name: "Get installed version of Python 2.7 {{ PYENV_ROOT }} / {{ pyenv_root }}"
  shell: "echo {{ pyenv_versions }} | grep -i -E '^2.7[0-9.]+$' | tail -n 1"
  register: latest_python_2_7

- name: "Get installed version of Python 3.7"
  shell: "echo {{ pyenv_versions }} | grep -i -E '^3.7[0-9.]+$' | tail -n 1"
  register: latest_python_3_7

- name: "Get installed version of Python 3.6"
  shell: "echo {{ pyenv_versions }} | grep -i -E '^3.6[0-9.]+$' | tail -n 1"
  register: latest_python_3_6

- name: "Get installed version of Python 3.5"
  shell: "echo {{ pyenv_versions }} | grep -i -E '^3.5[0-9.]+$' | tail -n 1"
  register: latest_python_3_5

- name: "Get installed version of Python 3.4"
  shell: "echo {{ pyenv_versions }} | grep -i -E '^3.4[0-9.]+$' | tail -n 1"
  register: latest_python_3_4
