# https://github.com/pyinvoke/invoke
- name: "invoke: Install with pipx"
  command: "pipx install invoke"
  register: result
  failed_when:
    - result.rc > 0
    - "'Not installing to existing directory' not in result.stderr"
    - "'already seems to be installed' not in result.stdout"

- name: "invoke: Link .invoke.yaml"
  file:
    src: "{{ role_path }}/files/.invoke.yaml"
    dest: "{{ dotfiles_user_home }}/.invoke.yaml"
    state: link

- name: "invoke: Link home_tasks.py"
  file:
    src: "{{ role_path }}/files/home_tasks.py"
    dest: "{{ dotfiles_user_home }}/home_tasks.py"
    state: link

- name: "invoke: Inject ipdb"
  command: "pipx inject invoke ipdb"

- name: "invoke: Get brew prefix"
  command: "brew --prefix"
  register: brew_prefix

- name: "invoke: Tab completion"
  shell: "invoke --print-completion-script=bash > {{ brew_prefix.stdout }}/etc/bash_completion.d/invoke.bash-completion"
