# https://github.com/andreoliwa/conjuring
- name: "conjuring: Clone"
  git:
    repo: git@github.com:andreoliwa/conjuring.git
    dest: "{{ project_root }}/conjuring"
  ignore_errors: yes

- name: "invoke-conjuring: Config file"
  blockinfile:
    path: ~/.invoke.yaml
    create: yes
    marker: "# ==================== {mark} https://github.com/andreoliwa/conjuring"
    block: |
      tasks:
        collection_name: conjuring_summon

- name: "invoke-conjuring: Default home dir tasks"
  blockinfile:
    path: ~/conjuring_summon.py
    create: yes
    marker: "# ==================== {mark} https://github.com/andreoliwa/conjuring"
    block: |
      from conjuring.spells.default import *

- name: "invoke-conjuring: Default /usr/local tasks"
  blockinfile:
    path: "/usr/local/conjuring_summon.py"
    create: yes
    marker: "# ==================== {mark} https://github.com/andreoliwa/conjuring"
    block: |
      from conjuring.spells.default import *
  become: true
  ignore_errors: yes

- name: "conjuring: Inject"
  command: "pipx inject -e invoke ."
  args:
    chdir: "{{ project_root }}/conjuring/"
