- name: "Upgrade system pip3 version on Linux"
  pip:
    name: pip
    state: latest
    executable: pip3
  when: ansible_os_family != "Darwin"

- name: "Get latest Python 3.10"
  shell: "pyenv install --list | egrep -i ' 3.10.[0-9.abrc]+$' | tail -n 1 | xargs"
  register: latest_python_3_10
  changed_when: false

- name: "Install Python 3.10 version {{ latest_python_3_10.stdout }}"
  pyenv:
    version: "{{ latest_python_3_10.stdout }}"

- name: "Get latest Python 3.9"
  shell: "pyenv install --list | egrep -i ' 3.9.[0-9.abrc]+$' | tail -n 1 | xargs"
  register: latest_python_3_9
  changed_when: false
# TODO: if latest_python_3_9.stdout is empty, show warning "run pyenv in another terminal"

- name: "Install Python 3.9 version {{ latest_python_3_9.stdout }}"
  pyenv:
    version: "{{ latest_python_3_9.stdout }}"

- name: "Get latest Python 3.8"
  shell: "pyenv install --list | egrep -i ' 3.8[0-9.]+$' | tail -n 1 | xargs"
  register: latest_python_3_8
  changed_when: false

- name: "Install Python 3.8 version {{ latest_python_3_8.stdout }}"
  pyenv:
    version: "{{ latest_python_3_8.stdout }}"

- name: "Get latest Python 3.7"
  shell: "pyenv install --list | egrep -i ' 3.7[0-9.]+$' | tail -n 1 | xargs"
  register: latest_python_3_7
  changed_when: false

- name: "Install Python 3.7 version {{ latest_python_3_7.stdout }}"
  pyenv:
    version: "{{ latest_python_3_7.stdout }}"

- name: "Get latest Python 3.6"
  shell: "pyenv install --list | egrep -i ' 3.6[0-9.]+$' | tail -n 1 | xargs"
  register: latest_python_3_6
  changed_when: false

# https://github.com/pyenv/pyenv/wiki/Common-build-problems
# https://yasar-yy.medium.com/installing-openssl-library-on-macos-catalina-6777a2e238a6
- name: "Install Python 3.6 version {{ latest_python_3_6.stdout }}; if this fails because of openssl, start a new terminal tab"
  # Python cannot be installed on Mac OS 11.0.1 pyenv · Issue #1737 · pyenv/pyenv
  # https://github.com/pyenv/pyenv/issues/1737#issuecomment-765724815
  environment:
    CFLAGS: -Wno-implicit-function-declaration
  pyenv:
    version: "{{ latest_python_3_6.stdout }}"
