- name: "npm: Install common"
  npm:
    name: "{{ item }}"
    state: latest
    global: yes
  with_items: "{{ npm_global_packages['common'] | default([], true) }}"
  when: npm_global_packages['common']

- name: "npm: Remove"
  npm:
    name: "{{ item }}"
    state: absent
    global: yes
  when: npm_global_packages['remove']
  with_items: "{{ npm_global_packages['remove'] | default([], true) }}"

- name: "npm: Install on personal_laptop"
  npm:
    name: "{{ item }}"
    state: latest
    global: yes
  with_items: "{{ npm_global_packages['personal_laptop'] | default([], true) }}"
  when: not ansible_env.COMPANY_LAPTOP | bool

- name: "npm: Remove on personal_laptop"
  npm:
    name: "{{ item }}"
    state: absent
    global: yes
  with_items: "{{ npm_global_packages['company_laptop'] | default([], true) }}"
  when: not ansible_env.COMPANY_LAPTOP | bool

- name: "npm: Install on company_laptop"
  npm:
    name: "{{ item }}"
    state: latest
    global: yes
  with_items: "{{ npm_global_packages['company_laptop'] | default([], true) }}"
  when: ansible_env.COMPANY_LAPTOP | bool

- name: "npm: Remove on company_laptop"
  npm:
    name: "{{ item }}"
    state: absent
    global: yes
  with_items: "{{ npm_global_packages['personal_laptop'] | default([], true) }}"
  when: ansible_env.COMPANY_LAPTOP | bool
