- include_tasks: "install.yml"

- name: Link xonshrc file
  file:
    src: "{{ role_path }}/files/xonshrc.xsh.link"
    dest: "{{ dotfiles_user_home }}/.xonshrc"
    state: link

# TODO Find a better way than running the playbook again
- name: "Location of xonsh executable (this will fail on the first time, run the playbook again and it works)"
  command: which xonsh
  register: which_xonsh
  tags: bootstrap

- name: Add xonsh to /etc/shells
  lineinfile:
    regexp: 'xonsh'
    line: "{{ which_xonsh.stdout }}"
    dest: /etc/shells
    state: present
  become: true
  tags: bootstrap

- include_tasks: "default_shell.yml"
  tags: bootstrap

- include_tasks: "xontribs.yml"

- name: Link global .autoxsh file
  file:
    src: "{{ role_path }}/files/autoxsh.xsh.link"
    dest: "{{ dotfiles_user_home }}/.autoxsh"
    state: link

- include_tasks: xonsh_hack.yml
  when: "'xonsh' in ansible_user_shell"
