- name: "Check last execution"
  shell: test ! -f ~/.config/dotfiles.last_execution_docker || test -n "$(find ~/.config -name dotfiles.last_execution_docker -cmin +30)"
  register: last_execution_docker
  ignore_errors: true

- name: "Stop all containers"
  shell: "docker ps -q | xargs docker stop"
  when: last_execution_docker is success

- name: "List all named volumes"
  shell: "docker volume ls -q | grep -v 0 | grep -v 1"
  register: docker_named_volumes
  when: last_execution_docker is success

- name: "Backup each volume in {{ docker_backup_dir }}"
  command: "docker-volume backup {{ docker_backup_dir }} {{ item }}"
  with_items: "{{ docker_named_volumes.stdout_lines }}"
  when: last_execution_docker is success

- name: "Touch file to avoid executing again"
  file:
    state: touch
    path: ~/.config/dotfiles.last_execution_docker
  when: last_execution_docker is success
