- name: Uninstall Ruby with Homebrew
  homebrew:
    name: ruby
    state: absent
  when: ansible_os_family == "Darwin"
  # Refusing to uninstall /usr/local/Cellar/ruby/3.1.2_1\nbecause it is required by vim
  ignore_errors: true

# TODO feat: install Ruby with asdf when needed

- name: "Ruby: Install common"
  gem:
    name: "{{ item }}"
    state: latest
  loop: "{{ ruby_global_gems['common'] | default([], true) }}"
  when: ruby_global_gems['common']

- name: "Ruby: Remove"
  gem:
    name: "{{ item }}"
    state: absent
  when: ruby_global_gems['remove']
  loop: "{{ ruby_global_gems['remove'] | default([], true) }}"

- name: "Ruby: Install on personal_laptop"
  gem:
    name: "{{ item }}"
    state: latest
  loop: "{{ ruby_global_gems['personal_laptop'] | default([], true) }}"
  when: not ansible_env.COMPANY_LAPTOP | bool

- name: "Ruby: Remove on personal_laptop"
  gem:
    name: "{{ item }}"
    state: absent
  loop: "{{ ruby_global_gems['company_laptop'] | default([], true) }}"
  when: not ansible_env.COMPANY_LAPTOP | bool

- name: "Ruby: Install on company_laptop"
  gem:
    name: "{{ item }}"
    state: latest
  loop: "{{ ruby_global_gems['company_laptop'] | default([], true) }}"
  when: ansible_env.COMPANY_LAPTOP | bool

- name: "Ruby: Remove on company_laptop"
  gem:
    name: "{{ item }}"
    state: absent
  loop: "{{ ruby_global_gems['personal_laptop'] | default([], true) }}"
  when: ansible_env.COMPANY_LAPTOP | bool
